<%= render 'spree/admin/shared/yandex_tabs', :current => 'ym_general' %>

<%= form_tag(admin_yandex_market_settings_path, :method => :patch) do -%>

  <fieldset>
    <legend><%= t 'configure_yandex_market.general' %></legend>
    <div class="row">
      <div class="alpha six columns">
        <div class="field">
          <%= label_tag :preferences_preferred_short_name, t('configure_yandex_market.short_name') %>
          <%= text_field_tag "preferences[preferred_short_name]", @config.preferred_short_name, :maxlength => 20, :class => 'fullwidth' %>
        </div>
        <div class="field">
          <%= label_tag :preferences_preferred_full_name, t('configure_yandex_market.full_name') %>
          <%= text_field_tag "preferences[preferred_full_name]", @config.preferred_full_name, :class => 'fullwidth' %>
        </div>
      </div>
    </div>

    <fieldset class="no-border-bottom">
      <legend><%= t('configure_yandex_market.what_wares_export') %></legend>
      <ol>
        <li>
          <label for="preferences_preferred_wares_active">
            <%= radio_button_tag 'preferences[preferred_wares]', 'active', @config.preferred_wares == "active" %>
            <%= t('configure_yandex_market.all_active_wares') %>
          </label>
        </li>
        
        <li>
          <label for="preferences_preferred_wares_can_stock">
            <%= radio_button_tag 'preferences[preferred_wares]', 'can_stock', @config.preferred_wares == "can_stock" %>
            <%= t('configure_yandex_market.can_stock_wares') %>
          </label>
        </li>
        
      </ol>
    </fieldset>
    <fieldset class="no-border-bottom">
      <legend><%= t('configure_yandex_market.local_delivery_cost') %></legend>
      <div class="row">
        <div class="alpha six columns">
          <div class="field">
            <%= text_field_tag "preferences[preferred_local_delivery_cost]", @config.preferred_local_delivery_cost, :maxlength => 20, :class => 'fullwidth' %>
          </div>
        </div>
      </div>
    </fieldset> 

    <div class="form-buttons filter-actions actions">
      <%= button Spree.t('update'), :class => 'icon-refresh button' %>
      <span class="or"><%= Spree.t("or") %></span>
      <%= link_to Spree.t("cancel"), admin_yandex_market_settings_url, :class => 'button icon-remove' %>
    </div>
  </fieldset>
<% end -%>
