<%= render 'spree/admin/shared/yandex_tabs', :current => '' %>

<h3>Yandex Market</h3>
<table>
  <tr>
    <th scope="row"><%= t 'configure_yandex_market.short_name_small' %>:</th> 
    <td colspan=2><%= @config.preferred_short_name %></td>
  </tr>
  <tr>
    <th scope="row"><%= t 'configure_yandex_market.full_name_small' %>:</th> 
    <td colspan=2><%= @config.preferred_full_name %></td>
  </tr>
  <tr>
    <th scope="row"><%= t 'configure_yandex_market.currency' %>:</th> 
    <td colspan=2><%= @config.preferred_currency %></td>
  </tr>
  <tr>
    <th scope="row"><%= t 'configure_yandex_market.export_wares' %>:</th> 
    <td colspan=2><%= t("yandex_market_wares_#{@config.preferred_wares}") %></td>
  </tr>
  <tr>
    <th scope="row"><%= t 'configure_yandex_market.export_file' %>:</th> 
    <td>
      <%= link_to URI.join(root_url, '/yandex_market/yandex_market.xml'),  '/yandex_market/yandex_market.xml' %>
    </td colspan=2>
  </tr>

</table>

